/*HTML  ATTRIBUTES */

a {color: <atc>; text-decoration: none; font-weight: <afb>; background-color: transparent;}
a:hover {color: <ahovertc>;}

h1 {font-size:<h1fs>;}
h2 {font-size:<h2fs>;}
h3 {font-size:<h3fs>;}
h4 {font-size:<h4fs>;}
h5 {font-size:<h5fs>;}
ul { margin: 2px; padding: 2px; list-style: disc inside; text-align: left;}
ol { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; color: #2A75C5;}

input.formButton {}

fieldset { border: 1px solid #cccccc; margin-bottom:10px;}

table {width: 100%;}
table td {padding: 0; border-width: 0; vertical-align: top; }

/* HEADER */
#header {
	float:left;
	width:100%;
	padding:0;
	margin:0;
   height:                 85px;
   background:             #2A75C5 url(xo-banner_bg.png) repeat-x left top;
	border-bottom:1px solid #000000;
}

#headerlogo {float:left; width:250px;}

#headerlogo img {padding: 0;}

#headerbanner {float:right; width:60%; text-align:right; margin-left:-250px;} 
/* fix for banner */
#xo-bannerfix {
   /*position:               absolute;*/
	/* z-index:99;*/
    width:                  480px;
    height:                 73px;
    background:             url(bg-ad-top.png) no-repeat;
	 padding-top:				6px;
	 position: relative;
	 top:                    7px;
    right:                  40px;
	 text-align: 				center;
   margin: 0 0 0 auto;

}

#xo-bannerfix object, #xo-bannerfix img {display: block; margin:0 auto;  vertical-align: middle;}

#headerbar {border-bottom: 1px solid #ddd; background-image: url(hbar.gif); width:100%; float:left;}

/* XOOPS STANTARD ELEMENTS*/

#leftcolumn {}
#leftcolumn th {background-color: <leftblockhbg>; color: <leftblockhtc>; vertical-align: middle;}
#leftcolumn .blockTitle {padding: 3px; background-color: <leftblockhbg>; color: <leftblockhtc>; font-weight: <leftblockhfb>;}
#leftcolumn .blockContent {padding: 3px; line-height: 1.2em;}


#centercolumn {font-size: 1em; padding: 0;}
#centercolumn th {background-color: <centerblockhbg>; color: <centerblockhtc>; vertical-align: middle;}

#centerCcolumn, #bottomCcolumn {padding:  0 5px;}
#centerCcolumn .blockTitle, #bottomCcolumn .blockTitle {padding: 3px; color: <centerblockhtc>; font-weight: <centerblockhfb>; margin-top: 0; margin-right: 0;  margin-left: 0; font-size:<centerblockhfs>;}
#centerCcolumn .blockContent, #bottomCcolumn .blockContent {border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ddd; padding: 3px; margin-right: 0;  margin-left: 0; margin-bottom: 2px; line-height: 1.2em;}

#centerLcolumn, #bottomLcolumn {
        float:left; width: 48.5%; padding: 0 3px 0 5px;
}

#centerRcolumn, #bottomRcolumn {
        float:right; width: 48.5%; padding: 0 5px 0 3px; margin-left:-48%;
}

#centerLcolumn .blockTitle, #bottomLcolumn .blockTitle, #centerRcolumn .blockTitle, #bottomRcolumn .blockTitle {
        padding: 3px; color: <centerblockhtc>; font-weight: bold; margin-top: 0;
}
#centerLcolumn .blockContent, #centerRcolumn .blockContent, #bottomLcolumn .blockContent, #bottomRcolumn .blockContent {
        border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ddd; padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 1.2em;
}

#content {text-align: left; padding: 0 5px 5px 5px;}

#rightcolumn {}
#rightcolumn th {background-color: <rightblockhbg>; color: <rightblockhtc>; vertical-align: middle;}
#rightcolumn .blockTitle {padding: 3px; background-color: <rightblockhbg>; color: <rightblockhtc>; font-weight: <rightblockhfb>;}
#rightcolumn .blockContent {padding: 3px; line-height: 1.2em;}

#footerbar { background-image: url(hbar.gif); font-size:.9em; height : 18px; padding-top:5px; text-align:center;}

#mainmenu a {background-color: <ammbg>; display: block; margin: 0; padding: 4px;}
#mainmenu a:hover {background-color: <ammhbg>;}
#mainmenu a.menuTop {padding-left: 3px; border-top: 1px solid #c0c0c0; border-right: 1px solid #666; border-bottom: 1px solid #666; border-left: 1px solid #c0c0c0;}
#mainmenu a.menuMain {padding-left: 3px; border-right: 1px solid #666; border-bottom: 1px solid #666; border-left: 1px solid #c0c0c0;}
#mainmenu a.menuSub {padding-left: 9px; border-right: 1px solid #666; border-bottom: 1px solid #666; border-left: 1px solid #c0c0c0;}
#mainmenu a.maincurrent {background-color:transparent; color:<ammcurrenttc>;}

#usermenu { font-size : <aumfs>;}
#usermenu a {background-color: <aumbg>; display: block; margin: 0; padding: 2px; border-right: 1px solid #666; border-bottom: 1px solid #666; border-left: 1px solid #c0c0c0; font-weight : normal;}
#usermenu a:hover {background-color: <aumhbg>;}
#usermenu a.menuTop {border-top: 1px solid #c0c0c0;}
#usermenu a.highlight {background-color: <aumhlbg>;}


caption {font-weight: bold;}
th, thead {background-color: <tablehbg>; padding : 2px; color: <tablehtc>; vertical-align : middle;}
.outer {border: 1px solid #c0c0c0;}
.head {background-color: <tablehbg>; padding: 5px; font-weight: <tablehfb>;}
.even {background-color: <tableebg>; padding: 5px;}
.odd {background-color: <tableobg>; padding: 5px;}
.foot {background-color: <tablefbg>; padding: 5px; font-weight: bold;}
tr.even td {background-color: <tablerebg>; padding: 5px;}
tr.odd td {background-color: <tablerobg>; padding: 5px;}
tr.foot td {background-color: <tablerfbg>; padding: 5px; color:inherit; font-weight: bold;}

.errorMsg,.confirmMsg, .resultMsg  { padding: .8em; text-align:center; margin-bottom: 1em; border: 2px solid #ddd;}
.errorMsg  { background-color: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.confirmMsg { background-color: #FFF6BF; color: #817134; border-color: #FFD324; }
.resultMsg { background-color: #E6EFC2; color: #529214; border-color: #C6D880; }
.errorMsg a { background-color: transparent; color: #D12F19; }
.confirmMsg a { background-color: transparent; color: #817134; }
.successMsg a { background-color: transparent; color: #529214; }

.xoopsCode { background: #fff; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; height: 200px; overflow: auto; font-size:.9em;}
.xoopsQuote { background: #fff; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; font-size:.9em;}
blockquote {font-style : italic; line-height:1.4em;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: .9em; color: #2A75C5; font-weight:bold; border: 1px solid #c0c0c0; background-color: #fff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2A75C5; font-weight:bold; font-size: .9em;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: .9em;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName a {color: #fff;}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: .8em;}
.comDateCaption {font-weight: bold; font-style: normal;}

/*============== Styles for system_siteclosed.html  (override system module) =================*/
#xo-siteclose {
    width:                  400px;
    margin:                 100px auto;
    background-color:       #e2e2e2;
    padding:                30px;
    color:                  #000;
    font-size:              1.2em;
    font-weight:            bold;
    text-align:             center;
    border:                 1px solid #666;
}
#xo-userbar_siteclosed {
    display:                block;
    background:             #2A75C5 url(xo-banner_bg.png) repeat-x left top;
    padding-top:            8px;
    padding-right:          1em;
    color:                  #fff;
    font-size :             .8em;
    text-align :            center;
}
#xo-userbar_siteclosed form {
    display:                inline;
    padding:                0;
}

#xo-userbar_siteclosed input, #xo-userbar_siteclosed button {
    width:                  100px;
    background-color:       transparent;
    color:                  #fff;
    font-size :             .9em;
    margin:                 2px;
}
#xo-userbar_siteclosed input:hover {}

/*============== Styles for system_redirect.html (override system module) =================*/
#xo-redirect {
    width:                  780px;
    margin:                 50px auto;
    padding:                1em;
    font-weight:            bold;
    text-align:             center;
}
#xo-redirect .notreload {
    height:                 28px;
    background-color:       inherit;
    padding-top:            2px;
    color:                  #000;
}
#xo-redirect .notreload a {
    background-color:       inherit;
    color:                  #ff0000;
    font-weight:            bold;
    text-decoration:        none;
}
#xo-redirect .message {
    min-height:             60px;
    background-color:       #f3f3f3;
    padding:                1em;
    color:                  #333;
    font-size:              1.2em;
    text-align:             center;
    border:                 1px solid #666;
}
#xo-redirect .message img{
    padding:                1em;
}
/*============== Styles for pagenav =================*/
#xo-pagenav {
    margin:                 7px 0;
    text-align:             center;
    font-size:              1.05em;
}
#xo-pagenav a {
    text-decoration:        none;
}
#xo-pagenav a:hover {
    color:                  #fff;
    background-color:       #2A75C5;
    border:                 1px solid #fff;
}
.xo-pagact {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #fff;
    background-color:       #2A75C5;
    border:                 1px solid #fff;
}
.xo-counterpage, .xo-pagarrow {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #000;
    background-color:       #fff;
    border:                 1px solid #000;
}
.xo-counterpage:hover {}
.xo-pagarrow {
    letter-spacing:         0.2em;
}
/*======= Tinymce background textarea ========*/
body.mceContentBody {
    margin:                 0;
    padding:                0;
    background-color:       #fff;
    background-image:       none;
    color:                  #000;
}